option_settings:
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
  aws:autoscaling:launchconfiguration:
    DisableIMDSv1: true
  aws:ec2:instances:
    InstanceTypes: t3.small
  aws:elasticbeanstalk:environment:
    ServiceRole: aws-elasticbeanstalk-service-role

Resources:
  AWSEBAutoScalingLaunchTemplate:
    Type: AWS::EC2::LaunchTemplate
    Properties:
      LaunchTemplateData:
        InstanceType: t3.small
        ImageId: '{{resolve:ssm:/aws/service/ami-amazon-linux-latest/amzn2-ami-hvm-x86_64-gp2}}'

  AWSEBAutoScalingGroup:
    Type: AWS::AutoScaling::AutoScalingGroup
    Properties:
      LaunchTemplate:
        LaunchTemplateId: !Ref AWSEBAutoScalingLaunchTemplate
        Version: !GetAtt AWSEBAutoScalingLaunchTemplate.LatestVersionNumber