@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
@import 'animations.css';
@import 'layout.css';

:root {
  --bg-color: #253e69;
  --text-color: #e0e0ff;
  --bold-color: #d4d4ff;
  --link-color: #8ea6ff;
  --accent-color: #2e5090;
  --transparency-layer: rgba(0, 0, 0, 0.1);
  --content-width: 780px;
}

a:link, a:visited {
  color: var(--link-color);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Inter';
  margin: 0;
  padding: 1em 1em 0 1em;
  line-height: 1.5;
}

header {
  border-radius: 4px;
  padding: 1em 1em 1em 1em;
  background-color: var(--transparency-layer);
}

@media (min-width: 768px) {
  body {
    margin: 0 auto;
    max-width: var(--content-width);
    padding: 2em;
  }
}

img {
  border: 10px solid var(--transparency-layer);
}

p {
  margin: 1em 0;
}

section {
  margin-bottom: 2em;
}

b {
  color: var(--bold-color);
}

h1, h2 {
  font-family: 'Silkscreen', cursive;
}

h1 {
  display: flex;
  position: relative;
  font-size: 2rem;
  margin: 0;
  padding-top: 0;
}

h1 .original,
h1 .phonetic {
  display: inline-block;
}

h1 .phonetic {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  white-space: nowrap;
}

h1:hover .original {
  opacity: 0;
}

h1:hover .phonetic {
  opacity: 1;
}

h1::before,
h1::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

h1:hover::before {
  left: 2px;
  text-shadow: -2px 0 #00d8ff;
  animation: glitch-anim-1 4s infinite linear alternate-reverse;
}

h1:hover::after {
  left: -2px;
  text-shadow: -2px 0 #ffa800;
  animation: glitch-anim-2 3s infinite linear alternate-reverse;
}
