/* Base Styles */

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Inter';
  margin: 0;
  padding: 1em 1em 0 1em;
  line-height: 1.5;
}

@media (min-width: 768px) {
  body {
    margin: 0 auto;
    max-width: var(--content-width);
    padding: 2em;
  }
}

cite {
  display: block;
  text-align: right;
  font-style: italic;
  margin-top: 8px;
}

details {
  border: 10px solid var(--transparency-layer);
  border-radius: 5px;
  padding: 1em;
  margin-bottom: 1.5em;
  background-color: var(--bg-color);
  transition: all 0.3s ease;
}

details[open] > summary {
  margin-bottom: 0.5em;
}

details > *:not(summary) {
  margin-top: 0.5em;
}

hr {
  color: var(--accent-color);
}

img {
  border: 10px solid var(--transparency-layer);
  width: 95%;
  max-width: var(--reading-width);
}

section {
  margin-bottom: 2em;
}