.wiki-container {
  display: flow-root;
  flex-direction: column;
  gap: 1em;
}

.wiki-image-container {
  float: left;
  margin-right: 1em;
  max-width: 200px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0.75em;
}

.wiki-content {
  width: 100%;
  padding-bottom: 1em;
}

.wiki-content p {
  line-height: 1.8;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.wiki-image {
  max-width: 100%;
  height: auto;
  display: block;
}


@media (min-width: 769px) and (max-width: 1024px) {
  .wiki-container {
    display: flow-root;
  }

  .wiki-image-container {
    float: left;
    margin-right: 1em;
    max-width: 300px;
    width: auto;
    padding: 1em;
  }

  .wiki-content {
    width: auto;
    overflow: visible;
  }

  .wiki-content p {
    line-height: 1.8;
    font-size: 1.2em;
  }

  .wiki-container::after {
    content: "";
    display: table;
    clear: both;
  }
}

@media (min-width: 1025px) {
  .wiki-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .wiki-image-container {
    flex: 0 0 auto;
    margin-right: 0;
    align-self: flex-start;
    max-width: 300px;
    width: auto;
    padding: 1em;
  }

  .wiki-content {
    flex: 1 1 300px;
    min-width: 0;
    max-height: inherit;
    align-self: center;
  }

  .wiki-content p {
    line-height: 1.8;
    font-size: 1.2em;
  }
}

