{% extends "base.html" %}

{% block title %}xarillian - About{% endblock %}

{% block content %}

<section>
  <h1>About Me</h1>
  <div class="about-me">
    <img
      src='/images/about-me/austin3.webp'
      alt="a selfie of me in the reflection a broken mcdonald's kiosk"
    />
    <p>
      My name is Austin Heinrich. I'm a developer from the Canadian prairies interested in web development, building
      video games, machine learning and AI, and basically whatever else crosses my path. I write about those things,
      my life, and worldbuilding.
    </p>
    <p>
      I am currently working on some stuff! I am writing a mod for Paradox Studio's <a href="https://en.wikipedia.org/wiki/Stellaris_(video_game)">Stellaris</a>
      and I am making a <a href="https://en.wikipedia.org/wiki/God_game">God game</a> utilizing LLM-powered agents. I'll
      talk about them more here when I have a Projects section. 
    </p>
    <p>
      Otherwise, I work for Andgo Systems out of Saskatoon, Canada. We make absence management software.
    </p>
    <span class="this-part-is-me-being-a-little-freak">
      I am a techno-optimist
    </span>
    <p>Technology is key to human flourishing. The smallest projects can provide immense value to the right human.</p>
    <p>If you want to reach out to me, feel free to do so through any of these channels:</p>
    <ul>
      <li>Find my code on <a href="https://github.com/xarillian/">GitHub</a></li>
      <li>Connect with me on <a href="https://www.linkedin.com/in/austin-heinrich/">LinkedIn</a></li>
      <li>Email me at <a href="mailto:austinwheinrich@gmail.com">austinwheinrich@gmail.com</a></li>
      <li>Connect with me on <a href="https://x.com/xari1lian/">X</a> or <a href="https://bsky.app/profile/xarillian.bsky.social">Bluesky</a></li>
    </ul>
  </div>

  <h2>About this Website</h2>
  <div class="about-website">
    <p>
      The name of this website is an old (and current) screen name I've used since the days of playing Runescape in my 
      elementary school's computer lab at lunch. I liked the letter X, as it is a cool letter, but that was too short 
      for a user name -- so I did the sensible thing and added a weird suffix to it. Voila, <code>xarillian</code> was
      born. I've since stopped playing Runescape; the core gameplay never really resonated with me, but it continues to haunt
      me in mentions from friends and colleagues.
    </p>
    <p>
      This site is built with HTML and CSS. It uses python as an SSG (static site generator) and then it's hosted with
      GitHub Pages. The source code can be found on my <a href="https://github.com/xarillian/xarillian.com/">GitHub</a>.
    </p>
  </div>
</section>
{% endblock %}