<header>
  <div class="header-content">
    <div class="header-title-container no-link-formatting">
      <h1 data-text="xarillian">
        <a href="{{ BASE }}/" aria-label="Xarillian - Home Page" title="/zæˈrɪliən/">
          xarillian
        </a>
      </h1>
      <span class="tagline skip-mobile" id="quote">it's not the user's fault</span>
    <script>
      const quotes = {{ quotes | tojson }};
      document.addEventListener('DOMContentLoaded', () => {
        const el = document.getElementById('quote');
        el.textContent = quotes[Math.floor(Math.random() * quotes.length)];
      });
    </script>
    </div>
    <nav class="main-nav">
      <a href="{{ BASE }}/blog" class="styled-link">Blog</a>
      <a href="{{ BASE }}/tags" class="styled-link">Tags</a>
      <a href="{{ BASE }}/about" class="styled-link">About</a>
    </nav>
  </div>
</header>
