<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>xarillian</title>
  <link rel="stylesheet" href="../static/styles.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="icon" type="image/png" href="../static/favicon.png"/>
  <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</head>
<body>
  <header>
    <div class="header-content">
      <div class="title-container">
        <h1 data-text="xarillian">
          <span class="original">xarillian</span>
          <span class="phonetic">/zæˈrɪliən/</span>
        </h1>
        <span class="tagline skip-mobile" hx-get="/random-quote" hx-trigger="load">it's not the user's fault</span>
      </div>
    </div>
    <nav class="links" hx-get="/menu" hx-trigger="load"></nav>
  </header>
  <main>
    <p class="opening-line">
      I am <b>Austin Heinrich</b>.
      I call myself a "techno-optimist."<br/><b>We have saved ourselves with machines.</b>
    </p>
    <section id="about-me" class="wiki-container">
      <div class="wiki-image-container">
        <img 
          class="wiki-image"
          src='../static/austin3.webp'
          alt="a selfie of me in the reflection a broken mcdonald's kiosk"
        />
      </div>
      <div class="wiki-content">
        <p>
          As a teenager, I used to say "one day I'll learn to code" while <b>I was already building</b> games with
          ruby-on-rails. I didn't realize I was actually a software developer until I had a degree in my hand. Since 
          that moment, I've been excited to work on <b>games, user experience, and AI.</b>
        </p>
        <p>
          I like to swim. I like to tell stories. Swimming is a quick entry into the <b>flow state</b>; nothing is better 
          than a morning spent <b>in the water</b>. When it gets too cold <b>to sustain biological life</b>, I camp out inside
          and sit in of my monitor like a firelight.
        </p>
        <p>
          Originally <b>from the edge</b> of the Canadian Shield, I moved at 18 for university to Saskatoon, Canada. I've been
          in the silicon prairie ever since.
        </p>
        <p>
          I live with my beautiful wife, <b>Erika</b>, and our <b>three cats</b>. They keep me grounded.
        </p>
      </div>
    </section>
  </main>
</body>
</html>