/* Utilities */
.no-link-formatting a,
.no-link-formatting a:hover,
.no-link-formatting a:visited,
.no-link-formatting a:active {
  text-decoration: none;
  color: inherit;
}

.skip-mobile {
  display: none;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .skip-mobile {
    display: inline;
  }
}

@media (min-width: 1025px) {
  .skip-mobile {
    display: inherit;
  }
}
