:root {
  /* Colors */
  --bg-color: #192c4d;
  --text-color: #e0e0ff;
  --accent-color: #306AC0;
  --link-color: #8ea6ff;
  --bold-color: #e6f1ff;
  --transparency-layer: rgba(0, 0, 0, 0.15);
  
  /* Layout */
  --content-width: 800px;
  --content-width-mobile: 95%;
  --reading-width: 70ch;
  
  /* Spacing */
  --space-xs: 0.25rem;
  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 1.5rem;
  --space-xl: 2rem;
  --space-2xl: 2.5rem;
  --space-3xl: 3rem;
  
  /* Other */
  --border-radius-sm: 0.5em;
  --border-radius: 0.75em;
  --border-radius-lg: 1.0em;
}
